[2021-04-27 10:06] dhensby commented on #313
@YuryStrozhevsky - I don't think the naming works deep enough because we want to change the name of `optionalSignature` on the `certs` that are extracted inside the `Signature`.

Also, becuase we're using `fromSchema` which then just loads a `Signature`, I think it's the `Signature.schema` that needs changing?

[2021-04-27 10:09] YuryStrozhevsky commented on #313
@dhensby It do works "deep enough" :) Just check the `schema` functions for all related subelements.

[2021-04-27 10:11] YuryStrozhevsky commented on #313
No, only a **parameter** to the function call should be changed.

[2021-04-27 10:21] YuryStrozhevsky commented on #313
[code]

[2021-04-27 10:26] YuryStrozhevsky commented on #313
@dhensby In fact you do not need to change PKIjs for this. All you need is to make you own class which would be a "successor" for `OCSPRequest` then make you own `fromSchema` function in the class and the just call `schema` with necessary parameters. So, all other functions of the new class would works same with `OCSPRequest`, but schema parsing would satisfy your specific needs.

[2021-04-27 11:29] dhensby commented on #313
@YuryStrozhevsky my specific needs are to parse standards compliant OCSP requests, which I'd suggest is what the library is intended for. I'm happy to implement a custom class locally that works, but I've opened this issue to highlight that the current implementation doesn't work correctly.

Thanks for the example code, I'll give that a run and see if it makes a difference.

Also, I think that on

[2021-04-27 11:34] dhensby commented on #313
@YuryStrozhevsky - I've tested the change locally with your suggestion from https://github.com/PeculiarVentures/PKI.js/issues/313#issuecomment-827494462 and it does not make any difference

[2021-04-27 11:47] YuryStrozhevsky commented on #313
@dhensby I am not at work at the moment. As soon as I will I promise to test it myself. In any case I do suggest you to inspect “schema” functions deeper - it do satisfy all you possible needs. As for “current implementation doesn’t work correctly”: I don’t see any errors in your findings. All you described is that names overrides. Please specify where exactly you think PKIJS works incorrectly.

[2021-04-27 12:17] dhensby commented on #313
I spent about 4 hours yesterday stepping through the parsing in a debugger, so I've looked pretty deeply into how this is working and I'm not completely able to follow it all the way down and not to the point of being able to fix the problem. It looks like @microshine understands that there is indeed some naming collision issues going on, so maybe he knows best how to resolve it.

The high level p

[2021-04-27 12:19] YuryStrozhevsky commented on #313
@dhensby OK I have tested it. Code should be like this
![Uploading 480E407C-46AA-444F-B722-8110F469D7E9.jpeg…]()

[2021-04-27 12:21] YuryStrozhevsky commented on #313
![6336C0BE-52DE-4BF8-9442-B6134E972514](https://user-images.githubusercontent.com/6128446/116240161-32788d80-a76c-11eb-9b0f-1cfa51f8202a.jpeg)

[2021-04-27 12:30] dhensby commented on #313
Thanks for that. Using your code:

[code]

The encoded data still reports the signature algorithm as `1.2.840.113549.1.1.11` (sha256WithRSAEncryption) and not `1.2.840.113549.1.1.13` (sha512WithRSAEncryption). So it does not appear to resolve the problem.

![Parsed result before constructing Signature](https://user-images.githubusercontent.com/563596/116241067-6b106b00-a75c-11eb-98b3-1e68adf27501.

[2021-04-27 12:39] YuryStrozhevsky commented on #313
@dhensby I don’t have any more time today for you and again suggest you to inspect how pkijs names any objects inside schema static functions. Will continue tomorrow.

[2021-04-27 12:44] dhensby commented on #313
I have a slight feeling that the solution is to add `local: true` to here https://github.com/PeculiarVentures/PKI.js/blob/v2.1.95/src/Signature.js#L122-L125

But that causes quite a large change to the parsing behaviour and something I don't have the knowledge or time to fix throughout the library.

[2021-04-27 13:17] YuryStrozhevsky commented on #313
@dhensby No, all this not a big problem at all. But it, it was a mistake, but a mistake not in `OCSPRequest` class but in `Signature`. So, here is the correct code for `Signature.fromSchema` function:
[code]
As you can see all the changes are about simple changes in schema naming.

[2021-04-27 13:28] microshine commented on #313
@dhensby Please take a look at this example

[code]

### Output
[code]

[2021-04-27 13:58] dhensby commented on #313
@microshine I've been looking at those other libraries and they do appear to be much more reliable and do decode and encode OSCPRequests successfully, so I am building out a proof of concept with those; thanks for the proof-of-concept code :)

The only small part that is a bit more work is that the [built-in extension parsing](https://github.com/PeculiarVentures/PKI.js/blob/master/src/Extension.js

[2021-04-27 14:09] microshine commented on #313
`@peculiar/x509` does it. It also allows registering known extensions in runtime.

By default, it implements these extensions

![image](https://user-images.githubusercontent.com/7333669/116255861-5099ba00-a77b-11eb-8433-7a3c2dc6e592.png)

[2021-04-27 14:14] microshine commented on #313
Here is one more example of `@peculiar/x509` usage

https://codesandbox.io/s/generate-cert-fjwfh?file=/src/main.js

As you can see each extension has got parsed values

![image](https://user-images.githubusercontent.com/7333669/116256399-d3bb1000-a77b-11eb-8bea-eabdab5f5f19.png)

[2021-04-27 14:18] dhensby commented on #313
Interesting - is there any docs on how to register the extensions at runtime? It doesn't appear to be doing it for `AsnConvert.parse(certBuffer, Certificate);`

![extensions](https://user-images.githubusercontent.com/563596/116257072-a1091b80-a76b-11eb-94d9-624e7c3c6dab.png)

[2021-04-27 14:21] microshine commented on #313
https://peculiarventures.github.io/x509/classes/extensionfactory.html#register

[2021-04-30 16:08] #309 closed

[2021-05-08 14:58] lainz opened #315 "Certificate Request Format"
Hi, I've seen this demo from a third party website:
https://johannes.truschnigg.info/csr/

It works, but the format of the data isn't the one my target website can read.

This is an example certificate I create with node and an openssl library:

[code]
If you paste that on this website
https://www.ssl247.es/support/tools/csr-decoder

It outputs

[code]

Al separated by "\r\n" I think.

But in the

[2021-05-11 21:12] LAlves91 opened #316 "Access users digital certificate"
Greetings!

I don't know if this is the right place for my question...if it isn't, I'll delete this issue (sorry in advance!). I work with a complex web application and one of its main features is digital signature of documents with the user's digital certificate.

So far, we do it with our own implementation of a digital signer (implemented with Java, running on the user's machine), which uses a

[2021-05-11 22:08] rmhrisk commented on #316
You want another project that we offer, https://FortifyApp.com, we use it in https://Hancock.ink our document signing solution.

[2021-05-14 23:30] lainz commented on #315
Hi, seems that everything is fine with the library, just the Authorithy I'm sending the request don't accept this format, so a bug in their side, they only accept OpenSSL way.

[2021-05-14 23:30] #315 closed

[2021-05-21 14:24] Julchenwsf opened #317 "Question: Create Private Key with ECDSA and Password"
Hello,

i try to use your library, but i did not find out how to create a keypair? Can you show me an short example?

Best regards Julia

[2021-05-21 19:14] rmhrisk commented on #317
Hello @Julchenwsf, this library does not create cryptographic keys, instead, it uses WebCrypto for all cryptographic operations. Instead, this library creates and uses the ASN.1 data-structures that are often associated with such keys. This is a good resource on how to use WebCrypto https://github.com/diafygi/webcrypto-examples.

WebCrypto itself doesn't support the concept of a password, I suspec

[2021-05-21 19:14] #317 closed

[2021-05-24 13:21] microshine opened #318 "EnvelopedData decrypt method doesn't support CryptoKey"
`EnvelopedData::decrypt` imports private key from pkcs8 buffer only. But what to do if CryptoKey is unextractable? We need to extend that function and make `decryptionParameters.recipientPrivateKey: ArrayBuffer | CryptoKey`
https://github.com/PeculiarVentures/PKI.js/blob/8f84d40ee6181d3020239a85f4d923bb13a4d99e/src/EnvelopedData.js#L1446-L1451

[2021-06-09 11:25] xiaohuilam opened #319 "Is it possible to convert `.pem` cert+key files into one `.jks` format"
Thank you a lot!

[2021-06-09 17:02] rmhrisk commented on #319
It is but you would need to do it.

Looks like this could be useful. https://www.npmjs.com/package/jks-js

[2021-06-10 05:31] xiaohuilam commented on #319
It looks like the npmjs package `jks-js` only the `.jks` to `.pem` converter.
But thank you anyway!

[2021-06-10 06:37] #319 closed

[2021-06-16 11:31] yaroslava-tkachuk opened #320 "Example of x509 v3 Certificate Extensions Decoding"
Hi,

I have been searching for any working example of x509 v3 certificate extensions decoding - unfortunately, with no luck. I am createing a Pkijs Certificate object from raw data and getting extensions array. extnValue is an OctetString object which I am struggling to decode to an integer (JS number type). Would highly appreciate any example on how to decode extensions values.

I am using only P

[2021-06-16 11:39] microshine commented on #320
Try [@peculiar/x509](https://github.com/PeculiarVentures/x509#decoded-x509-certificate). It supports X509 extensions and allows extending it by registering your own

[2021-06-16 11:43] microshine commented on #320
PKIjs implements X509 extensions too. See [source code](https://github.com/PeculiarVentures/PKI.js/blob/master/src/Extension.js#L170-L399) how it parses well-known extensions

[2021-06-16 12:32] YuryStrozhevsky commented on #320
@yaroslava-tkachuk
[**Example**](https://github.com/PeculiarVentures/PKI.js/tree/master/examples/CertificateComplexExample)

[2021-06-18 13:30] yaroslava-tkachuk commented on #320
Thanks a lot for the answers!
Eventually, I have figured out that I was getting already decoded extensions, but there were some additional bitstring values at the beginnig (probably, some ASN1 related stuff).
`.extnValue.toJSON().valueBeforeDecode` and skipping additional data worked for me to get a hex string representing my ASN1:INTEGER extension values.
Again, thanks a lot for the fast replies!

[2021-06-18 13:30] #320 closed

[2021-06-20 22:39] Jonas-Metzger opened #321 "Use in QuickJS"
I need to compile some existing Node.js code (which uses PKI.js) to C, so I'm switching to QuickJS instead of Node.js. How do I use PKI.js in QuickJS?

[2021-06-21 16:35] rmhrisk commented on #321
We have no experience with QuickJS. As PKIjs is a pure JS library with minimal dependencies and QuickJS just looks like alternate engine I imagine it just works?

[2021-06-21 16:36] #321 closed

[2021-07-11 12:14] maganuk opened #322 "Any was to deserialize a certificate?"
Hi,

We have bunch of certificates in out trust store and a user certificate needs to be validated against this trust store dynamically, which means that with every request we need to reload all certificates into the trust store. Currently just loading 4 certificates by doing `const asn1 = fromBER(ber)` and then `new Certificate({ schema: asn1.result })` is taking about 250ms.

I see there is a to

[2021-07-13 19:56] xomilders opened #323 "Adding the principal name of the subscriber in the SubjectAltName extension as a UPN (1.3.6.1.4.1.311.20.2.3)"
Hi,

I am using PKIJS to generate PKCS10 and am having a bit of a hard time determining precisely how to construct this OtherName value for 1.3.6.1.4.1.311.20.2.3 like so:

<img width="785" alt="Screen Shot 2021-07-13 at 2 12 32 PM" src="https://user-images.githubusercontent.com/64909799/125508721-3411f423-b8c3-4bbf-96e4-01a12e9529b1.png">

I have tried to figure out how to properly construct the

[2021-07-14 01:30] xomilders commented on #323
BTW, this is the structure I am attempting to create:

` 2.5.29.17: Flags = 0, Length = 43
    Subject Alternative Name
        RFC822 Name=xxx@xxxx.com
        Other Name:
             Principal Name=xxx@xxxx.com
    AltName: 2 entries:
    AltName[0] CERT_ALT_NAME_RFC822_NAME: "xxx@xxxx.com"
    AltName[1] CERT_ALT_NAME_OTHER_NAME: 1.3.6.1.4.1.311.20.2.3 Principal Name:
      CERT_RDN_UTF8_STRIN

[2021-07-17 10:01] ties opened #324 "can not validate schema against SignedData error for (RPKI) cms that openssl accepts"
I am trying to parse an Resource Public Key Infrastructure (RPKI) manifest (RFC6486) which are ASN.1 structures in CMS.

[code]

When I do so, I get the exception above with a root cause of `Wrong values for Choice type` (likely because of `SignerInfo.sid` - but debugging this is non-trivial).

Since openssl accepts the CMS (as seen below) and BouncyCastle also accepts them I think they are valid.

[2021-07-17 11:34] ties commented on #324
The case that applies is (from https://datatracker.ietf.org/doc/html/rfc5652)
[code]

Implemented at https://github.com/PeculiarVentures/PKI.js/blob/master/src/SignerInfo.js#L185 . This is where my debugging ended.

[2021-07-17 18:55] rmhrisk commented on #324
Please attach reference objects to the bug.

[2021-07-17 20:06] ties commented on #324
I have attached the objects: [rpki-manifests-and-certs.zip](https://github.com/PeculiarVentures/PKI.js/files/6835240/rpki-manifests-and-certs.zip)

I need to parse a specific CMS profile's (https://datatracker.ietf.org/doc/html/rfc6488) content so I would expect PKI.js or asn1.js is the suitable library for this (for the current use case I do not need to check the CMS signature, but ideally it sho

[2021-07-21 09:33] microshine commented on #322
Would it be better to keep parsed certificates in a global variable without parsing them for each incoming request?

I think it's impossible

[2021-07-21 10:35] microshine commented on #323
### JS
[code]

### Enoced raw (HEX)
[code]

### ASN.1
[code]

[2021-07-21 12:25] microshine commented on #324
@ties Thank you for this issue

I reproduced this error using both `pkijs` and `@peculiar/asn1-cms` modules.

I fixed and published `@peculiar/asn1-cms` please try version `2.0.37`. It parses CMS (from your ZIP file) without exception

[code]

Working on `pkijs` fix

[2021-07-21 12:55] microshine commented on #324
`pkijs` declares `subjectKeyIdentifier` like `EXPLICIT` but it must be `IMPLICIT`

[code]
Fix
[code]

[2021-07-21 13:44] microshine commented on #324
@ties I published `pkijs@2.1.96`

Please try it

[2021-07-21 14:57] xomilders commented on #323
This is fantastic! Thank you so much! It works perfectly now. You guys rock 🙂

Best,
Seth

________________________________
From: Miroshin Stepan ***@***.***>
Sent: Wednesday, July 21, 2021 6:36 AM
To: PeculiarVentures/PKI.js ***@***.***>
Cc: Seth Milder ***@***.***>; Author ***@***.***>
Subject: Re: [EXTERNAL] [PeculiarVentures/PKI.js] Adding the principal name of the subscriber in the SubjectAlt

[2021-07-22 06:53] #323 closed

[2021-07-30 17:30] chris-wood opened #326 "Add support for RSA-PSS PublicKeyInfo variants"
Currently, PublicKeyInfo only supports [two algorithms](https://github.com/PeculiarVentures/PKI.js/blob/8fd65c4c787f4c8153428e745edde888e637c582/src/PublicKeyInfo.js#L136-L168) -- ECDSA ("1.2.840.10045.2.1") and RSA ("1.2.840.113549.1.1.1", for encryption). It would be useful to also support RSA-PSS ("1.2.840.113549.1.1.10"). The format is [defined here](https://datatracker.ietf.org/doc/html/rfc40

[2021-07-30 22:09] rmhrisk commented on #326
Non breaking addition would be great.

[2021-07-31 14:13] ties commented on #324
@microshine sorry for the delay. I can confirm that `pkijs` as well as `asn1-js` can parse the CMS and that I succeeded with parsing the content with the latter.

[2021-07-31 14:19] #324 closed

[2021-08-18 23:45] curtdept opened #327 "Nested SignedData's"
@microshine  I have a CMS someone nested with 20 certs in it. Openssl seems to parse it ok but I can for the life of me get it to parse in node. Any suggestions on how to parse it effectively?

![image](https://user-images.githubusercontent.com/23644717/129986008-6c24231e-a369-4bae-bdb0-d752fb7f84cd.png)

[2021-08-27 07:54] sergeypayu opened #328 "Version 2.1.96 broke SignerInfo parsing"
Unfortunately, the fix you made in 2.1.96 broke parsing completely legit SignerInfo data. Here is an example of the data that now gives "Wrong values for Choice type" error:

https://lapo.it/asn1js/#MIICoQIBAaAiBCCt0OZVQWI9B_pECwXJKCZvqKAueUsQxvAjliiduzY-nTAMBgoqhiQCAQEBAQIBoIICFzAvBgkqhkiG9w0BCQQxIgQggb05gxSaJQdBS9Dx9eXgDySHySlxH5lNcqSVPZssnGgwGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATCCAcgGCyqGSIb3DQEJE

[2021-08-27 21:17] #328 closed, assigned to nobody

[2021-08-30 05:31] sergeypayu commented on #328
Yes, I confirm, 2.1.97 works as expected. Thanks for the quick fix!

[2021-08-30 05:58] a-i-to opened #330 "Usage in Node.js"
I'd like to use pki.js on the server side (node.js). We do not expect to run it in a browser.

Main usage:
1. Generating a key pair and issuing a certificate
2. CMS sign and verify

Question 1: Is such usage correct?
Question 2 Is it a good idea to use `node-webcrypto-ossl` even if it is not for testing purposes?
Question 3 Are there any other limitations in the node environment?

[2021-08-30 07:25] rmhrisk commented on #330
1. This is fine
2. Lastest node has webcrypto
3. No

[2021-08-30 07:53] a-i-to commented on #330
Thanks. I am going to use LTS (v14.17.5), so I will use the external library for a while.

[2021-08-30 07:53] #330 closed

[2021-08-30 07:55] microshine commented on #330
Use `@peculiar/webcrypto` for NodeJS v14. It uses NodeJS Crypto API and doesn't require C++

[2021-08-30 13:03] sajid-codegic opened #331 "Failed to Verify Timestamp CMSSignedData"
I have a CMS (timestamp containing TSTInfo) which I can parse and verify successfully in OpenSSL (1.1.1f) using command:  smime -verify -in "extracted-timestamp.ber" -inform DER -noverify

When I verify this CMS using PKIjs it fails to verify. When I verify some other CMS which is not timestamp based then it does verify successfully.

Here is my code:

Is it an issue in PKIJs while verifying CMS s

[2021-08-30 13:47] microshine commented on #331
The error message for invalid signature says that `data` property is required. I updated your example. It works for both CMS and TSTInfo classes

[code]

[2021-08-30 13:49] #331 closed

[2021-08-31 09:25] sajid-codegic commented on #331
Hi @microshine thanks for the quick response. This code is working good in simple JS but when I use this JS in Firefox plugin it says signature is invalid. Is there any limitation in PKIjs?

[2021-08-31 09:40] microshine commented on #331
Chrome, Firefox, Safari

![image](https://user-images.githubusercontent.com/7333669/131480082-54564fb9-9040-47cb-84fe-72f8824f5206.png)

### index.html
[code]

### main.js
[code]

[2021-08-31 14:22] sajid-codegic commented on #331
Hi @microshine I mean to run this js as add-on (plugin).

[2021-09-01 14:52] vicpara opened #332 "Validation of certificate chain with `SignedData.verify` always returns true"
I am trying to validate the certificate chain of a signature as shown in the example: https://github.com/PeculiarVentures/PKI.js/tree/master/examples/PDFExample .

It seems that the `SignedData.verify` function returns `true` regardless of what certificates are provided in the chain. https://github.com/PeculiarVentures/PKI.js/blob/8904acd43a2c360dfe27b5895c2cccc57f88c069/examples/PDFExample/es6.js

[2021-09-01 15:00] microshine commented on #332
@vicpara Do you use `checkChain` parameter?

[code]

https://github.com/PeculiarVentures/PKI.js/blob/master/src/SignedData.js#L627

[2021-09-01 15:45] vicpara commented on #332
I tried with `checkChain: true` and I get an error as string: "Validation of signer's certificate failed".
Setting additionally `extendedMode: true,` gets me the following error as json:
[code]

[2021-09-01 15:55] microshine commented on #332
You've got `No valid certificate paths found`. I think the problem is in trusted or CA certificates.

If your SignedData doesn't have all required certificates you need to get them from PDF file and put them to `signedData.certificates`. Also SignedData requires `trustedCerts` for chain validation. Set your Trusted (Root) certificates to  `trustedCerts` parameter.

[2021-09-01 16:36] vicpara commented on #332
Thank you for your message and for looking into it.
I am setting the `trustedCerts` correctly but that didn't seem to make much of a difference.
In regards to the required certificates in the SignedData I am a bit confused as it does show the `tbs` data at the top of my previous message.
The problem also seem to exposed in your the PDFExample. Any CA bundle would validate true.

[2021-09-03 18:54] vicpara commented on #332
Thanks for double checking.
Finally managed to understand what's going on and get the code to work.

When validating a signature that was actually issued by an intermediate CA (my prod setup) the validation passes.

When trying to validate a signature that was issued by a self signed certificate (RootCA > Signer) the validation fails no matter what I do. The two certificates do pass the validation

[2021-09-12 21:23] #327 closed

[2021-09-13 04:44] rmhrisk commented on #327
Was your issue resolved?

[2021-09-13 05:10] curtdept commented on #327
Not really, I ended up just containerizing and wrappering openssl to dump a bunch of pem files, then reading them back.

[2021-09-13 05:18] rmhrisk commented on #327
Please provide a sample file.

[2021-10-04 08:55] gnarea commented on #304
FYI, I'm starting to work on this and I'll be implementing the interface above:

[code]

I'll create a PR once I've had a chance to check the interoperability of the implementation with Bouncy Castle.

[2021-10-04 09:49] gnarea commented on #304
@microshine, I'm re-reading our conversation above and I'm not sure it'd make sense to create the static method `Recipient.create()` based on the last few messages we exchanged.

As I understand it, we decided not to use certificates at all, so that to me means not using `EnvelopedData.addRecipientByCertificate()`. But the reason to define `Recipient.create()` was to pass its result to `EnvelopedD

[2021-10-05 16:14] gnarea commented on #304
I went for the approach I suggested in my last comment and create a PR (#333) with the changes.

[2021-10-08 09:50] gnarea opened #334 "Can't decrypt some valid EnvelopedData values that use ECDH keys"
Whilst testing the interoperability of #333, I discovered that PKI.js fails to decrypt `EnvelopedData` values generated by other tools (e.g., BouncyCastle) when using ECDH keys. The other tools, however, can decrypt values produced by PKI.js.

For example, if I try to decrypt [this `EnvelopedData`](https://lapo.it/asn1js/#MIAGCSqGSIb3DQEHA6CAMIACAQIxggFIoYIBRAIBA6BboVkwEwYHKoZIzj0CAQYIKoZIzj0DAQcD

[2021-10-08 11:54] gnarea opened #335 "EnvelopedData.decrypt() breaks if UKM is absent when using ECDH"
This bug doesn't affect me but I found it by chance whilst debugging #334: If you try to decrypt an `EnvelopedData` that doesn't have a user keying material (UKM) and you're using ECDH, you'd get the following error:

[code]

That's because `ukm` is assumed to be present:

https://github.com/PeculiarVentures/PKI.js/blob/699ac6e942c279c12e38d4829a44f3fe20040b0a/src/EnvelopedData.js#L953

https://gi

[2021-10-08 11:55] gnarea commented on #334
I've just managed to replicate this issue with [this `EnvelopedData` value](https://lapo.it/asn1js/#MIIBjQYJKoZIhvcNAQcDoIIBfjCCAXoCAQIxggE1oYIBMQIBA6BRoU8wCQYHKoZIzj0CAQNCAATwHtqD4uKE3hoO_HMaz35i-tR5Zr0kcUUYrhRF6QbVqPPYDqhj685rGzYkMdCPWQ9sdA5Gw4DyIMXLU8y2u2lbMBgGCSuBBRCGSD8AAjALBglghkgBZQMEAQUwgb4wgbswgZ4wgZAxgY0wgYoGA1UEAx6BggAwADMANwBiADkANQA5ADQAMgBlADgANQBmAGQAMgBmADYAYwBkADIAYQA1AGUAMABhADIA

[2021-10-28 10:03] #334 closed, assigned to nobody

[2021-11-18 11:31] defacto64 opened #337 "DER encoding of a CertificationRequest object"
Hello, I would like to know if it is possible, after creating a `CertificationRequest` via PKI.js, to obtain its DER encoding.

After getting the asn1js object via `toSchema()`, I understand from the ASN1.js sources that only a `toBER()` method is available: I don't see a `toDER()` method ....

[2021-11-18 12:34] microshine commented on #337
@defacto64 Could you show difference between `BER` and `DER` encoded `CSR`?

I guess they are equal

[2021-11-18 14:19] defacto64 commented on #337
Hi Stepan,

In some cases they are not the same at all.
Let's say you have a CSR containing a multi-value RDN in the Subject field. In a case like this, if the CSR is encoded in **B**ER then the elements of that RDN can appear in any order you like; if instead the CSR is encoded in **D**ER, then the elements of that RDN must appear in a precise order, as prescribed by the X.690 standard (ASN.1 enc

[2021-11-18 14:26] microshine commented on #337
@defacto64 Thank you!

I don't see any `DER` functions in ASN1.js. There is only a couple of methods in the `Integer` class with `DER` names

[2021-11-19 09:47] defacto64 commented on #337
I think there is a problem, here, that I will try to gradually explain. Maybe I am wrong, but please follow my reasoning.

The example page [1] shows how to build a CSR with PKI.js. In that example, a single RDN (the commonName) is inserted into the Subject in the following way:

[code]

Now, in which way do you recommend to insert multiple RDNs into the Subject? Let's say we wanted to insert in t

[2021-11-19 11:32] microshine commented on #337
Am I right that you've got subject name like `CN=Test+OU=SomeDept+O=SomeOrg+C=US` instead of `CN=Test, OU=SomeDept, O=SomeOrg, C=US`
### You've got
[code]

### You want
[code]

[2021-11-19 11:45] microshine commented on #337
To implement that using PKIjs we use `fixName` function on `foritfy-web`

https://github.com/PeculiarVentures/fortify-tools/blob/f997f3a9f6e97952a6950af049c7cea7245a8e08/src/helpers/cert_helper.js#L312-L323

Do you know about our package [@peculiar/x509](https://github.com/PeculiarVentures/x509)?

Here is CSR generation example https://github.com/PeculiarVentures/x509#create-a-pkcs10-certificate-r

[2021-11-19 11:52] defacto64 commented on #337
It's not a matter of _wanting_, but yes: you caputured what I mean.

[2021-11-30 21:02] rmhrisk commented on #337
@defacto64 is the answer sufficient? Can this be closed?

[2021-12-01 13:11] defacto64 commented on #337
Sorry for the delay.
Yes, I have confirmed that a call to the fixName function "fixes" the problematic Subject encoding.
(I have not yet tried the additional peculiar/x509 package, but I will do in the next future.)
This can be closed, thank you.

[2021-12-01 13:14] #337 closed

[2021-12-08 19:28] rushglen opened #338 "404 in Readme.md"
"Use in Node.js
At the moment PKI.js code is compiled for Node v6 version. But in fact initially PKI.js code is a pure ES6 code and you could build it for any Node version by changing this line and run npm run build again."

"changing this line" link returns 404

[2021-12-17 18:41] benpetermorris opened #339 "Calls to Promise.reject should wrap strings in Error objects"
As it stands, we can't discern where the rejection happened in a catch statement, since the strings provide no stack trace.

Passing `Error` objects to `Promise.reject` would be much more useful.

[2022-02-03 04:34] shivamjjha opened #341 "Signing a word document using client side JavaScript"
#### Probably not an issue

I don't know if it's just me; but I can't find a tutorial on pkijs site
Requirements:

1. user upload a `.docx` file
2. signing that file digitally (electronically) using client side JS
3. sending it to server

3rd point is done; I  just want to know how to do 1st & 2nd steps

### The final document should look like :
[e signed doc.docx](https://github.com/PeculiarVentu

[2022-02-10 07:40] shivamjjhasot commented on #341
Thanks for making that clear @rmhrisk
Do you know of any tool / any way to do that?
I'll appreciate that

[2022-02-23 13:15] typoworx-de commented on #33
@setasign why has the branch been deleted?

[2022-03-08 11:01] gnarea opened #344 "Integration with external Key-Management Systems"
For security reasons, I'd like to move away from having private keys in the app's memory and use a KMS/HSM instead. This isn't currently supported, is it? The current implementation of PKI.js depends heavily on WebCrypto private keys, but I don't know if there's a way to make this work today.

I _think_ one (ugly) way to make this work relatively easily is by having a [webcrypto provider](https://

[2022-03-10 05:33] rmhrisk commented on #344
See node-webcrypto-p11

[2022-03-10 10:17] gnarea commented on #344
Thanks @rmhrisk!

I want to use GCP KMS, which offers a [C library for PKCS#11](https://github.com/GoogleCloudPlatform/kms-integrations/blob/master/kmsp11/docs/user_guide.md), so it seems like I'd simply need to initialise the `Crypto` class in `node-webcrypto-p11` with the path to GCP KMS' shared object `libkmsp11.so`.

However, the issues above with `EnvelopedData` would still prevent me from us

[2022-04-05 07:50] maganuk opened #345 "CertificateChainValidationEngine not resepecting checkDate"
Hi,

I have these 4 certificates:

      -----BEGIN CERTIFICATE-----MIIFFjCCAv6gAwIBAgIRAJErCErPDBinU/bWLiWnX1owDQYJKoZIhvcNAQELBQAwTzELMAkGA1UEBhMCVVMxKTAnBgNVBAoTIEludGVybmV0IFNlY3VyaXR5IFJlc2VhcmNoIEdyb3VwMRUwEwYDVQQDEwxJU1JHIFJvb3QgWDEwHhcNMjAwOTA0MDAwMDAwWhcNMjUwOTE1MTYwMDAwWjAyMQswCQYDVQQGEwJVUzEWMBQGA1UEChMNTGV0J3MgRW5jcnlwdDELMAkGA1UEAxMCUjMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC7AhUo

[2022-04-07 06:27] maganuk commented on #345
@microshine So I figured out the bug, in the sort method we are checking for all certificates being unique. Now if the self signed certificate is in the trusted certificates and you pass only the self signed certificates in the certs to be validated, the certificate is removed from the bottom of the list of the localcerts variable (as there are duplicate entries). This affects the outcome of the c

[2022-04-12 07:44] Ottunger opened #346 "Certificate created are invalid"
Hi,

I've recently started to use your lib rather than node-forge to create certificates, so as to register the CRL distribution endpoint inside (and by the way, the CRL creation itself works fine).
However, the certificates I get are invalid and I can't understand why. Could this be because I use node-webcrypto-ossl as provider? This is indeed heavily based on your "Certificate complex example",

[2022-04-12 07:52] Ottunger commented on #346
I've just tested on node v16 to have a native implementation of crypto, and it seems to be the same, so problems should lie somewhere else than the provider.

[code]

[2022-04-12 08:26] Ottunger commented on #346
@microshine I don't think https://github.com/PeculiarVentures/x509 can encode CRL distribution points can it?

Anyways, I'm still stuck with two problems using directly PKI.js;
- The "valid to" date is wrong apparently;
- The CRL endpoint is not encoded in format Windows understands

![Untitled](https://user-images.githubusercontent.com/3816312/162916002-e890f683-6f52-4949-a072-869f1423a110.png)

[2022-04-12 08:50] Ottunger commented on #346
Found a fix for both.
Far reaching dates still seem to be a problem.

[2022-04-12 08:54] microshine commented on #346
### Get CRL extension
[code]

### Cert generation with CRL extension
[code]

[2022-04-12 09:03] microshine commented on #346
<img width="316" alt="image" src="https://user-images.githubusercontent.com/7333669/162923537-9ba3aa09-fdf0-42b7-bfbe-658ee55ab666.png">

[2022-04-12 09:06] Ottunger commented on #346
Thanks for the heads up :)

Got it the same with

[code]

Although I'll admit x509 lib reduces code length!

[2022-04-12 16:37] maganuk commented on #345
@microshine Thanks very much looks great!!! Where can I see the changed to the code base? Could you please refer me to the commit?

[2022-04-22 14:23] rideckard opened #347 "Possible performance issue with BER encoding"
Hi,

Using "cms Enveloped Data" the BER encoding is **really** slow,
I am measuring ~15 sek for encrypted 2mb buffer in this step:
`cmsEnvelopedBuffer = cmsContentSimpl.toSchema().toBER(false);`

the data Part in the asn.1 schema looks like this
[code]

As far as I understand the BER encoding with asn1js (which is not very far:) it should only concatenate those 1344 byte strings. Why would it take

[2022-04-25 07:18] microshine commented on #347
Looks like the problem is in `asn1js`

### JS example (2Mb)
[code]

### Console output
[code]

[2022-04-25 12:30] microshine commented on #347
Here is the result of some researches.

It's not optimized implementation of `toBER` method in `asn1js`

https://github.com/PeculiarVentures/ASN1.js/blob/master/src/asn1.js#L1258
[code]

It rewrites `retBuf` value N time (where N is `this.value.length`). App should do it only once

I applied that change to my local instance of `asn1js`

[code]

### Console output (2Mb)
[code]

### Console output (

[2022-04-25 13:02] microshine commented on #347
@rideckard I've published the new version of `asn1js@2.3.3`. Please update your dependencies and try it. It must work faster

[2022-04-26 07:28] microshine commented on #347
@rideckard I've published one more new version of `asn1js@2.4.0`

Now it encodes ASN.1 structures faster

[code]

[2022-04-26 07:56] rideckard commented on #347
Great! Its lightning fast now. I can confirm your benchmark results. You made my day!

[2022-04-26 07:56] #347 closed

[2022-04-29 10:21] gnarea opened #348 "Optionally allow engine to be passed explicitly"
Would you accept a PR that allowed `EnvelopedData.encrypt()`, `EnvelopedData.decrypt()`, `SignedData.sign()` and `SignedData.verify()` to take the `engine` as an argument, whilst still falling back to `getEngine()`/`getCrypto()` when the argument is unset?

The current approach depends on global variables:

https://github.com/PeculiarVentures/PKI.js/blob/9230ae8e2ca5af49900b5d74ba4f608b0b967f24/sr

[2022-05-12 10:21] gnarea commented on #344
FYI, I ended up integrating the `@google-cloud/kms` library in a [new RSA-PSS provider](https://github.com/relaycorp/awala-keystore-cloud-js/blob/728c7fbbf5972d961f597d8d5bc753191289f560/src/lib/gcp/GcpKmsRsaPssProvider.ts). I may move it to a separate NPM package if other folks find it useful.

[GCP KMS doesn't support (EC)DH](https://issuetracker.google.com/issues/231334600), and our protocol on

[2022-05-12 13:16] sergeypayu opened #350 "Node.js build error"
I got an error after updating PKI.js to the latest version. It was introduced in 2.3.0 version (https://github.com/PeculiarVentures/PKI.js/commit/b3269eb4012679b4da1e5d865da016132761c242)

ERROR in ./node_modules/pkijs/src/ECPublicKey.js 3:0-44
Module not found: Error: Can't resolve './ECNamedCurves' in '/home/user/project/node_modules/pkijs/src'

line
`import ECNamedCurves from "./ECNamedCurves";

[2022-05-12 13:42] microshine commented on #350
I've published `pkijs@2.3.1`. Please try it

[2022-05-13 09:09] microshine commented on #348
Going to implement this feature in v3.0.0

[2022-05-13 12:32] microshine commented on #348
I've published `beta` version of pkijs. Please try it

[code]

**example**

[code]

[2022-05-13 12:37] microshine commented on #345
I've published `beta` version of pkijs. Please try it

[code]

[2022-05-13 12:40] maganuk commented on #345
Thanks very much for the fix. I'll give it a go

[2022-05-13 12:46] microshine commented on #339
I've published `beta` version of pkijs. Please try it. It fixes the issue

[code]

[2022-05-13 13:46] #332 closed

[2022-05-18 10:53] gnarea opened #353 "v3 upgrade notes / early feedback"
I'm trying to upgrade to v3 (3.0.1-2) in [one of our libs](https://github.com/relaycorp/relaynet-core-js/) but I'm finding that many things are breaking and I'm finding that some upgrade notes would be really useful: For example, I was getting some weird transpilation errors because PKI.js v3 requires asn1js v3 but my library was still using asn1js v2. Is there anything else that would be good to

[2022-05-18 10:54] gnarea commented on #348
Thanks @microshine! I'll try it in my lib as soon as I can upgrade it to PKI.js v3 (see #353)

[2022-05-19 14:00] microshine commented on #353
You are right. The new version of PKIjs uses the updated version of ASN1js. ASN1js was also migrated to TS.

`@types/pkijs` is old declaration and it may use wrong declarations. The new version creates definition file from TS source directly and it uses API from the v2. All tests use the same calls and test vectors. Most errors after v3 applying must be with type validation (eg optional fields, mi

[2022-05-23 11:10] maliksajidhussain opened #354 "TypeError: element.toSchema is not a function while creating OCSP Request"
I am creating an ocsp requesting using a base64 certificate. When I try to print this request I get this error "TypeError: element.toSchema is not a function".

I am using the following sample code. Any thing wrong in the request creation?
[ocsp.zip](https://github.com/PeculiarVentures/PKI.js/files/8754008/ocsp.zip)

[2022-05-23 12:54] microshine commented on #354
Please try to use the latest version of PKIjs. It uses TS implementation and includes type definitions. It should help you to fix some errors during development.

Here is TS implementation of your example with the latest PKIjs version

<details>
  <summary>Click to expand!</summary>

[code]
</details>

As you can see, it prints the OCSP request

[code]
[View ASN.1 schema](https://lapo.it/asn1js/#M

[2022-05-23 13:54] maliksajidhussain commented on #354
Thanks for the quick response. I am using simple JavaScript and created bundle js file and make some customization to export function and class of PKI js. Is there any bug in the older version of PKI JS?

[2022-05-23 21:17] rmhrisk commented on #354
There are many bugs in older PKIjs.

[2022-05-24 03:27] YuryStrozhevsky commented on #354
@rmhrisk Could you, please, point me any of the "many bugs in older PKIjs"? For the years since I made PKIjs (about 7-8 years) I can remember only two real bugs both related to moving from ES3 to ES6. Maybe your "TypeScript moving team" found others?

[2022-05-24 07:13] microshine commented on #354
Now you can use PKIjs without bundle file

[code]

[2022-05-25 09:08] maliksajidhussain commented on #354
Thanks @microshine for the help. My use case was to build OCSP request using offline pki javascript file. We cannot refer any online JS file. I am able to create the request. The issue was some of the classes missing in pki bundle.js.

[2022-05-25 09:08] #354 closed

[2022-06-07 05:38] #345 closed

[2022-06-07 05:39] #339 closed

[2022-06-24 08:17] Ottunger opened #357 "Non modules builds for new versions"
Hello guys,

Is there still a way to have non module builds of pvtsutils / asn1js / pkijs with v3?
Have to support old browsers that do not understand modules ...

If you create such a build, let me know if you upload it to a CDN!

Thanks,

[2022-06-24 19:44] rmhrisk commented on #344
Sounds good

[2022-06-24 19:44] #344 closed

[2022-07-27 16:41] jpoliveira12345 commented on #178
It can be solved using this library:
https://www.npmjs.com/package/@peculiar/webcrypto

[2022-07-27 16:42] jpoliveira12345 commented on #199
This can be solved using this library:
https://www.npmjs.com/package/@peculiar/webcrypto

[2022-07-28 06:04] #338 closed

[2022-07-28 06:26] #348 closed

[2022-07-28 06:39] microshine commented on #357
I don't like the idea of creating non module builds, because we don't know env requirements, and it would be better if developer compiles the application by himself. It must allow using tree-shaking and minify the final JS file.

- Should the build include runtime libraries?
- Should bundle include dependencies?
- Does browser support Promise?
- Does browser support ES6?
- ...

Too many questions.

[2022-08-01 20:42] bdehamer opened #358 "Error executing verifySCTsForCertificate"
I have the following code which is attempting to verify the Signed Certificate Timestamps (SCTs) embedded in a certificate:

[code]

When executing this, I receive the following error:

[code]

Which appears to stem from the fact that the `signatureValue` is undefined on this line:

https://github.com/PeculiarVentures/PKI.js/blob/master/src/CryptoEngine/CryptoEngine.ts#L2069

[code]

This value is

[2022-08-01 20:59] bdehamer commented on #358
It looks like the bug was introduced here:
https://github.com/PeculiarVentures/PKI.js/commit/2d6bd6a34bc121ca33a613c7e77dc3b6c321a832#diff-1aee9b0e50deff6f27d3935b158c79374618f56855b09db3e5cbf6ba865b5923L2076

[2022-08-02 08:39] #358 closed

[2022-08-24 11:10] sujith-k-s opened #362 "Honor CheckDate Optionality in the CertificateChainValidationEngine"
We have a case where we do not want to verify the Validity Periods of the Certificates. Passing an undefined to the CheckDate Parameter should honor this and should not check for the validity of the certificates. I understand that this could break current implementations, therefore we could add an additional argument (`validateDate`) to parameters which would produce the same result. The only chan

[2022-08-25 05:04] rmhrisk commented on #362
What is the use case?

[2022-08-25 06:56] microshine commented on #362
Looks very strange. You don't want to verify the Validity Periods of the Certificate, but use CRLs for path building (which require `checkDate` argument). Would it be easier to build the chain without Revocation Lists and use the date (`notBefore` or `notAfter`) from the leaf certificate?

[2022-09-18 08:37] CMCDragonkai commented on #89
Can you make it possible to encrypt/decrypt with x25519? This is possible with node's webcrypto experiment with 25519 curves.

[2022-09-19 11:31] gnarea commented on #89
@CMCDragonkai, that'd require implementing RFC 8418, which I believe would be different from the OP.

That's something I've wanted to contribute for a while but haven't had the chance so far. Maybe if you have the time, you could discuss how you'd do it and propose a PR.

See also: #254

[2022-09-21 15:05] jeffsec-aws opened #363 "'crypto.verifyWithPublicKey is not a function' when doing CRL signature check"
Hi,

I (re)open the issue listed in https://github.com/PeculiarVentures/PKI.js/issues/199 as:
- the native Crypto Engine does not support the function
- the first solution (as pointed by @rmhrisk ) using `node-webcrypto-ossl` is deprecated and should no longer be used
- the second solution (as pointed by @jpoliveira12345 ) using `@peculiar/webcrypto` is not working either

The initial error messag

[2022-09-28 21:30] jeffsec-aws commented on #363
So I am sure the CryptoEngine is correctly intialized with "@peculiar/webcrypto", still i keep on getting the same error of:
[code]

Adding a catch for `crl.verify` only stop the `Runtime.UnhandledPromiseRejection` but keeps on telling me the promise is rejected.

Any advices?

[2022-10-20 13:56] microshine commented on #363
Please see this example. It works and I can't reproduce the same problem
[code]

[2022-10-21 10:37] christof-brungraeber opened #364 "SMIME decryption failing for OpenSSL version"
Hi there,

I'm unable to decrypt S/MIME encrypted messages using `openssl smime` - which I would have expected. It works using `openssl cms`, tough.

I generated a key-pair using [the available example](https://pkijs.org/examples/SMIMEEncryptionExample/SMIMEEncryptionExample.html)

[code]

[2022-10-23 07:10] microshine commented on #364
This script works fine. Decrypted message is `Test message.`

[code]

[2022-10-23 09:03] christof-brungraeber commented on #364
Hi @microshine,
many thanks for following up and for your example. Appreciated! I was able to successfully and smoothly integrate your library into a nodejs backend service. Unit tests in terms of decrypting what was previously encrypted with pki.js indeed do succeed, as well as integration tests using `openssl cms` on top of testcontainers.
What doesn't work, though, is decrypting using "standard

[2022-11-01 19:58] jeffsec-aws commented on #363
In fact `pkijs.setEngine` is deprecated now.

So for unknown reasons, the Crypto Engine is not set to the one I initialized and seems to run with a default one which does not contains the `verifyWithPublicKey` function.

My code works if I set Crypto engine as part of the call to `crl.verify` as per the function protoype allows:

`public async verify(parameters: CertificateRevocationListVerifyPara

[2022-11-01 19:58] #363 closed

[2022-11-13 01:55] greenpdx opened #365 "Better documentation"
https://diafygi.github.io/webcrypto-examples/
I spent a day trying to find a combination that works for wrapKey with ECDSA private key.
Here is a matrix that should be part of the documentation.

[2022-11-21 20:11] canuto opened #366 "EST Enrollment over Secure Transport support RFC 7030"
EST is increasingly being supported by companies like Globalsign, Sectigo and the open source project OpenXPKI.

One of the use cases is enrollment of IoT devices. Microsoft Azure for IoT is one of the providers recommending using EST.

Is this on the roadmap for PKI.js ?

[2022-11-29 15:52] microshine opened #368 "Fix NodeJS PKCS12 example for NodeJS v18"
These tests don't work on NodeJS v18
[code]